@charset "UTF-8";

.modal.glazed {
  .nav-tabs {
    padding: 0 !important;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    border: none;
    background: #f0f0f0;
    color: #444;
    li {
      margin: 0;
    }
    li > a {
    border: none;
    background: none;
    outline: none;
    padding: 13px 20px;
    font-size: 14px;
    border-radius: 0;
    margin: 0;
    &:hover,
    &:focus {
      outline: none;
      border:none;
    }
    }
    li.active a {
    background: #e0e0e0;
    border:none;
    outline: none;
    }
  }
}